<!--@Assignment1-->
<!--Tiffany Raill 200264388-->
<!--http://tiffany-raill-portfolio.azurewebsites.net/-->
<!--this is the About me Page for my Portfolio-->
<% include ../partials/header.ejs %>

<div class="main-wrapper" id="papers" >
  <div class="container text-left">
  <h1 class="papersTitle text-left">Academic Research Papers</h1>
  <table class="table table-striped table-hover">
    <tr><th><h3>Title</h3></th><th><h3>Course</h3></th><th><h3>Description</h3></th>
        <% if (user) { %>
        <th><h3>Actions</h3></th>
        <% } %>
    </tr>
      <% for (var i = 0; i < papers.length; i++) { %>
    <tr>
      <td><%= papers[i].title %></td>
      <td><%= papers[i].course %></td>
      <td><%= papers[i].description %></td>
        <% if (user) { %>
      <td>
        <!-- this view button will be put into use when I add "upload a document" functionality"
        <!--<a href="/papers/<%= papers[i]._id %>" class="btn btn-info">View</a>-->
        <a href="/papers/<%= papers[i]._id %>" class="btn btn-info">Edit</a>
        <a href="/papers/delete/<%= papers[i]._id %>" class="btn btn-danger confirmation",
           onclick="return confirm('Are you sure want to delete')";>Delete</a>
      </td>
        <% } %>
    </tr>
      <% } %>
  </table>
      <% if (user) { %>
    <a href="/papers/add" id="addPaperLink">Add a New Research Paper</a>
      <% } %>
  </div>

</div>
<% include ../partials/footer.ejs %>